html {
  height: 100%;
  font-size: 100%;
}
body {
  height: 100%;
}
footer {
  padding: 2rem 0;
}
.page-header {
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}
.page-logo {
  width: 50px;
  height: 50px;
}
h2.page-heading {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 1rem;
}

/** CTA **/
.bg-clouds {
  background-color: #222;
  color: #fff;
  margin-bottom: 1rem;
}
.ctaGasroot {
  margin: 0 auto;
  padding: 3rem 0;
}
.ctaList li {
  list-style-type: square;
}

/** Utils **/
.cf:after {
  content: ' ';
  display: table;
  clear: both;
}

/** Facts **/
.simpleFact {
  height: 100px;
  margin-bottom: 1rem;
}

.fact {
  font-size: 30px;
  height: 100%;
  line-height: 100px;
  text-align: right;
  border-right: 3px solid whitesmoke;
  padding-right: 10px;
  float: left;
}
.fact-small {
  width: 150px;
}
.fact-medium {
  width: 240px;
}
.fact-medium + .factContent {
  line-height: 100px;
}
.factContent {
  height: 100%;
  display: inline-block;
  padding-left: 10px;
  max-width: 230px;
}
.factContent .icon-man {
  display: none;
}
.factContent .icon-man:nth-child(-n+6) {
  display: inline-block;
}
@media (min-width: 768px) {
  .factContent .icon-man {
    display: inline-block;
  }
}

/** Graphs **/
.graph {
  min-height: 300px;
}
.graph svg {
  width: 100% !important;
}

/** Icons **/
.icon-man {
  width: 16px;
  height: 46px;
  margin-right: 1px;
}
.icon-moneybag {
  width: 100px;
  height: 100px;
}
.icon-avg {
  width: 80px;
  height: 80px;
}