html {
  height: 100%;
  font-size: 100%;
}
body {
  height: 100%;
  padding-top: 1rem;
}
footer {
  padding: 2rem 0;
}

/** CTA **/
.bg-clouds {
  background-color: #222;
  color: #fff;
  padding: 3rem;
  margin-bottom: 1rem;
}
.ctaGasroot {
  margin: 0 auto;
}
.ctaList li {
  list-style-type: square;
}

/** Utils **/
.cf:after {
  content: ' ';
  display: table;
  clear: both;
}

/** Facts **/
.simpleFact {
  height: 100px;
  margin-bottom: 1rem;
}
.fact {
  font-size: 30px;
  height: 100%;
  line-height: 100px;
  text-align: right;
  border-right: 3px solid whitesmoke;
  padding-right: 10px;
  float: left;
}
.fact-small {
  width: 140px;
}
.fact-medium {
  width: 240px;
}
.factContent {
  height: 100%;
  display: inline-block;
  padding-left: 10px;
  max-width: 230px;
}
.factContent .icon-man {
  display: none;
}
.factContent .icon-man:nth-child(-n+6) {
  display: inline-block;
}
@media (min-width: 768px) {
  .factContent .icon-man {
    display: inline-block;
  }
}

/** Graphs **/
.graph {
  min-height: 300px;
}
.graph svg {
  width: 100% !important;
}

/** Icons **/
.icon-man {
  width: 16px;
  height: 46px;
  margin-right: 1px;
}
.icon-moneybag {
  width: 100px;
  height: 100px;
}