html {
  height: 100%;
  font-size: 100%;
}
body {
  height: 100%;
  padding-top: 1rem;
}
footer {
  padding: 2rem 0;
}

/** CTA **/
.bg-clouds {
  background-color: #222;
  color: #fff;
  padding: 3rem;
}
.ctaGasroot {
  margin: 0 auto;
}
.ctaList li {
  list-style-type: square;
}

/** Utils **/
.cf:after {
  content: ' ';
  display: table;
  clear: both;
}

/** Facts **/
.smallFact {
  height: 100px;
  position: relative;
  margin-bottom: 1rem;
}
.fact {
  font-size: 30px;
  height: 100%;
  display: inline-block;
  position: absolute;
  width: 120px;
  line-height: 100px;
  text-align: right;
  border-right: 3px solid whitesmoke;
  padding-right: 10px;
}
.factContent {
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 135px;
  padding-left: 10px;
  max-width: 230px;
}

/** Graphs **/
.graph {
  /* float: left; */
/*   width: 600px; */
  /* display: inline-block; */
  min-height: 300px;
}
.graph svg {
  width: 100% !important;
}

/** Icons **/
.icon-man {
  width: 16px;
  height: 46px;
  margin-right: 1px;
}
.icon-moneybag {
  width: 100px;
  height: 100px;
}